body, html {
    height:100%;
}
.action-bar-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4189C7;
}
.markdown-editor, .markdown-view {
    max-height: 100%;
    height: calc(100vh - 118px);
    padding: 30px;
    overflow:scroll;
}

.markdown-editor {
    background-color: #ededed;
}


    .markdown-editor textarea {
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        background-color: transparent;
    }

#markdown-component {
}

    #markdown-component :first-child {
        margin-top: 0;
    }

.navbar, .alert {
    margin-bottom:0;
}

.label.label-default.label-hint {
    position: absolute;
    top: 10px;
    left: 50%;
    background-color: rgb(0, 0, 0, .1);
    color: rgba(0, 0, 0, .3);
}